# Compiled class files
*.class

# JAR files
*.jar

# Log files
*.log

# Temporary files
*.tmp

# Build directories
/bin/
/build/
/out/
/target/

# IDE-specific files
/.idea/
*.iml
.settings/
*.prefs
*.project
*.classpath

# System files
.DS_Store
Thumbs.db

# Sensitive files
*.env
*.key
*.properties