.event-card{
    -fx-effect: dropshadow(gaussian, RGBA(100, 100, 100, 0.2), 6, 0, -4, 7);
}

.read-more-event-btn:hover{
  -fx-background-color: black;
  -fx-cursor: hand;
}
.read-more-event-btn {
    -fx-text-fill: black; /* Text color */
    -fx-background-radius: 5px;
    -fx-background-color: #ddd;
    -fx-border-color: #999;
    -fx-border-radius: 5px;
}

.read-more-event-btn:hover {
    -fx-background-color: #FFE7B1;
    -fx-cursor: hand;
}
