
.border-pane .dashboard-root:focused {
    -fx-focus-color: black;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.stack-pane:focused,
.scroll-pane:focused,
.vbox:focused,
.hbox:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
        -fx-background-insets: 0;
        -fx-background-radius: 0;
}

.dashboard-root{
    -fx-background-color: #c8c8c8;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.dashboard-root{
    -fx-background-color: #c8c8c8;
}
.checkBox .box{
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-background-color: #FFDF99;
    -fx-effect: dropshadow(gaussian, #686868, 0, 0, -4, 5);
}

.container{
    -fx-background-color: #c8c8c8;
        -fx-focus-color: transparent;
        -fx-faint-focus-color: transparent;
}

.btn{
    -fx-effect: dropshadow(gaussian, #686868, 6, 0.1, -4, 5);
    -fx-cursor: hand;
}

.coordinator{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #FFFFFF;
}
.coordinator .button{
    -fx-effect: dropshadow(gaussian, #50505040, 7, 0, -4, 5);
}
.dashboard-shadow{
    -fx-effect: dropshadow(gaussian, #50505040, 5, 0, -3, 7);
}

.dashboard-menu Button{
  -fx-background-color: #9CE2FF;
      -fx-effect: dropshadow(gaussian, #686868, 0, 0, -4, 5);
}

.dashboard-menu CheckBox Box{
  -fx-pref-width: 25;
  -fx-pref-height: 25;
  -fx-background-color: #FFDF99;
  -fx-effect: dropshadow(gaussian, #686868, 0, 0, -4, 5);
}

.dropshadow{
  -fx-effect: dropshadow(gaussian, #686868, 0, 0, -4, 4);
}

